.formFooterButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 3rem;
    gap: 1rem;

    button {
        border: none;
        background: #1b1b1f;
        color: #fff;
        padding: 10px 50px;
        border-radius: 20px;

        &:focus {
            outline: none;
        }

        &:hover {
            background: #424247;
            transition: 200ms;
        }
    }
}

@media(max-width: 500px) {
    .formFooterButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 3rem;
        gap: 1rem;
    
        button {
            border: none;
            background: #1b1b1f;
            color: #fff;
            padding: 10px 50px;
            border-radius: 20px;
    
            &:focus {
                outline: none;
            }
    
            &:hover {
                background: #424247;
                transition: 200ms;
            }
        }
    }
}