@import './Button.module.scss';

.wrapper {
    width: 90%;
    margin: auto;
    text-align: left;

    .heading {
        padding: 1rem 0 2rem 0;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-gap: 30px;


        .card {
            display: flex;
            border: 1px solid #a0a0a0;
            border-radius: 0.5rem;
            height: 100px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            color: #a0a0a0;

            i {
                font-size: 1.3rem;
                padding-top: 5px;
            }

            p {
                margin: 0;
            }

            %radio-btn {
                width: 1rem;
                height: 1rem;
                border-radius: 15px;
                top: -5px;
                left: -1px;
                position: relative;
                content: '';
                display: inline-block;
                visibility: visible;
                cursor: pointer;
            }

            input[type='radio']:after {
                @extend %radio-btn;
                background-color: #fff;
                border: 1px solid #a0a0a0;
            }

            input[type='radio']:checked:after {
                @extend %radio-btn;
                background-color: #1b1b1f;
                border: 0px solid white;
            }
        }

        .selected {
            background: #0000001f;
            border: 2px solid #1b1b1f;
            color: #1b1b1f;
        }
    }

}