.modalWrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.411);
    height: 100%;
    width: 100%;
    top: 0;
    
    .modalBody {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 454px;
        margin-left: -200px;
        margin-top: -200px;
        background: #fff;
        border-radius: 8px;

        .content {
            padding: 1rem 1rem 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            text-align: center;

            form {
                
                div {
                    text-align: left;
                }

                label {
                    padding-bottom: 0.5rem;
                }
            }

            button {
                margin-top: 1rem;
            }
        }
    }

    .close {
        position: absolute;
        right: 10px;
        top: 10px;

        a {
            color: rgb(95, 95, 95);

            &:hover {
                color: #000;
            }
        }
    }
}

// mobiles
@media (max-width: 500px) {
    .modalWrapper {
        .modalBody {
            width: 375px;
            margin-left: -188px;
        }
    }
}